.h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 680px;
}


.sudoku {
  display : grid;
  grid-template-columns: repeat(9, 40px);
  grid-auto-columns: auto;
  margin-left: 600px;
  margin-top: 100px;
  
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    outline: none;
}
.cell:nth-child(3n) {
    border-right: 2px solid black;
}
.cell:nth-child(27n) {
    border-bottom: 2px solid black;
}
